/* Всплывающая форма */
.form-2,
.form-3,
.form-4,
.form-5{
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    text-align: center;
    max-width: 70rem;
    max-height: 75rem;
    background-color:#d8dadb;
    border-radius: 30px;
    display: none;
}



.form-2__block {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-area {
    width: 42rem;
    font-size: 2rem;
    text-align: center;
    max-height: 10rem;
    border-radius: 2.5rem;
    padding: 0.5rem 1rem;
    border: none;
    margin-bottom: 1rem;
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-area::placeholder {
    font-size: 2rem;
    padding-top: 1rem;
}

.form-2__header {
    margin-bottom: 5rem;
    font-weight: 500;
    text-align: center;
    font-size: 4rem;
    line-height: 150%;
    text-transform: uppercase;
    color: #6A5AF3;
}

.form-2__name,
.form-2__telephone{
    width: 42rem;
    text-align: center;
    height: 5rem;
    border-radius: 30px;
    padding: 0 1rem;
    border: none;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    color: #409AF8;
}

.form-2__header_block-time{
    display: flex;
    width: 42rem;
    justify-content: space-between;
}

.form-2__date,
.form-2__time{
    width: 20rem;
    font-size: 1.8rem;
    text-align: center;
    height: 5rem;
    border-radius: 30px;
    padding: 0 1rem;
    border: none;
}

.form-2__policy {
    width: 42rem;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .form-2,
    .form-3,
    .form-4,
    .form-5{
        position: fixed;
        z-index: 999;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 150px;
        text-align: center;
        max-width: 70rem;
        max-height: auto;
        background-color:#d8dadb;
        border-radius: 30px;
        display: none;
        padding: 2rem;
    }   

}
