/* Шапка сайта */
.header{
    margin-top: 2rem;
}

.header-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-up__logo {
    display: flex;
    gap:1.8rem;
}
.header-up__logo>p {
    font-size: 1.5rem;
    line-height: 130%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header{
        margin-top: 0;
    }
    
    .header-up__logo img{
        width: 14rem;
        height: 14rem;
    }
    .header-up__logo>p {
        font-size: 1.5rem;
        line-height: 130%;
        display: flex;
        align-items: center;
    }
}

.header-up__metro {
    display: flex;

}
.header-up__metro img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
    margin-right: 0.9rem;
}

.header-up__metro-adress{
    font-size: 1.5rem;
    line-height: 140%;
}

.header-up__opening-hours{
    display: flex;

}

.header-up__opening-hours img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
    margin-right: 0.9rem;
}

.header-up__opening-hours p {
    font-size: 1.5rem;
    line-height: 140%;
}


.header-up__messenger img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;

}

.header-up__messenger img:first-child {
    margin-right: 1rem;
}

.header-up__version-visually-impaired{
    cursor: pointer;
}


@media (max-width: 1200px) {
    .header-up__version-visually-impaired img{
        width: 4rem;
        height: 4rem;
    }
}




.header-up__telephone>a {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-decoration: none;
    text-align: center;
    color: #272727;
}

.header-up__telephone>p{
    font-size: 1.3rem;
    line-height: 140%;
    font-weight: 400;
    margin-top: 0.6rem;
}


.hr_header {
    width: 118rem;
}


/* Нижняя часть шапки */
.header-menu-list{
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;  
    list-style-type: none;
    margin-right: 0;
}



.header-menu-list>li{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 100%;
    text-decoration: none;
    transition: 0.5s;
}



.header-menu-list>li>a{
    font-size: 1.5rem;
    line-height: 100%;
    text-decoration: none;
    color: #272727;
    cursor: pointer;
    transition: 0.5s;
}

.header-menu-list>li:hover {
    display: block;
    transition: 0.5s;
    transform: scale(1.2);
    color: #409AF8;
}

.header-menu-list>li>a:hover {

    transition: 0.5s;

    color: #409AF8;
}



.header-menu__technology::before{
    margin-right: 0.8rem;
    content:url(../img/technology.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__cost::before{
    margin-right: 0.8rem;
    content:url(../img/cost.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__doctors::before{
    margin-right: 0.8rem;
    content:url(../img/doctors.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__reviews::before{
    margin-right: 0.8rem;
    content:url(../img/reviews.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__credit::before{
    margin-right: 0.8rem;
    content:url(../img/credit.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__about::before{
    margin-right: 0.8rem;
    content:url(../img/about.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__FAQ::before{
    margin-right: 0.8rem;
    content:url(../img/FAQ.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__contacts::before{
    margin-right: 0.8rem;
    content:url(../img/contacts.svg);
    display: inline-block;
    vertical-align: middle;
}

.header-menu__button{
    margin-top: -1.375em;
    width: 19rem;
    height: 4.2rem;
    background: #409AF8;
    border-radius: 2.55rem;
    font-size: 1.4rem;
    line-height: 120%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header-menu__button::before{
    content:url(../img/FAQ-white.svg);  
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.9rem;
}

/* Бургер меню */

@media (max-width:768px) {

    .hr_header {
        width: 100%;
    }
    

    .header-up {
        display: grid;
        grid-template-columns: 1fr 210px 1fr 1fr;
        margin-top: -40px;
        gap: 5px;
    }

    .header-up__messenger {
        display: none;
    }

    .header-up__version-visually-impaired,
    .header-menu__button {
        display: none;
    }

   .header-body__burger-menu {
        position: relative;
        left:900px; 
        width: 30px;
        height: 45px;
        display: block;
        top: 3rem;
        transition: 0.5s; 
    } 

    .header-body__burger-menu span, 
    .header-body__burger-menu:after, 
    .header-body__burger-menu:before{
        position: absolute;
        height: 3px;
        width: 100%;
        background: #3C3D75;
        margin: 0 auto;
    }
    .header-body__burger-menu span{
        top: 21px;
        transition: 0.5s; 
    }
    .header-body__burger-menu:after, 
    .header-body__burger-menu:before{
        content: '';
        transition: 0.5s; 
    }
    .header-body__burger-menu:after{
        bottom: 10px;
        transition: 0.5s; 
    }
    .header-body__burger-menu:before{
        top: 10px;
        transition: 0.5s; 
    }

    .header-body__burger-menu.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .header-body__burger-menu.open-menu:before {
        transform: rotate(38deg);
        top: 21px;
        transition: 0.4s;
    }
    .header-body__burger-menu.open-menu:after {
        transform: rotate(-38deg);
        bottom: 21px;
        transition: 0.4s;
    }

    .header-menu{
        display: block;
        position: absolute;
        background: #a5c8ee;;
        width: 100%;
        height: 100% ;
        box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
        top: 14.5rem;
        left: -150%;
        transition: all 0.5s ease;
        z-index: 100;
    }

    .header-menu-list {
        flex-direction: column;
        background-image: url(../img/phone-1.png);
        background-size: cover;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        border: 5px solid #3C3D75;
        margin-top: 0;
        height: 93.5vh;
        padding: 10rem;
    }

    .header-menu__button {
        margin-top: 5rem;
        width: 42rem;
        height: 8rem;
        background: #409AF8;
        border-radius: 5rem;
        font-size: 4rem;
        line-height: 120%;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-bottom: 10rem;
    }

    .header-menu__button::before{
        content:url(../img/FAQ-white.svg);  
    }

    .header-menu li {
        font-size: 14px;
        margin-top: 5rem;
    }
    .header-menu li a{
        font-size: 4rem;
    }
    .header-menu.open-menu {
        left: 0px;
    }
    .fixed-page{
        overflow: hidden; /*запрещаем прокручивание страницы при открытом меню*/
}
}

@media (max-width:576px) {
    .header-up {
        display: grid;
        grid-template-columns: 1fr 100px 1fr 1fr;
        margin-top: -50px;
        gap: 5px;
    }
    
   .header-body__burger-menu {
        left:515px; 
        width: 30px;
        height: 45px;
        top: 2rem;
    }

    .header-up__metro {
        align-items: center;   
    }

    .header-menu{
        top: 65px;
    }

    .header-menu li {
        font-size: 14px;
        margin-top: 3rem;
    }
    .header-menu li a{
        font-size: 3rem;
    }
}

@media (max-width:390px) {

    .header-up { 
        grid-template-columns: 80rem 1fr;
    }

    .header-menu-list {
        margin-top: 0;
        height: 111vh;
        padding: 10rem;
    }

    .header-body__burger-menu {
        left:330px; 
        top: 0.5rem;
    }

    .header-up__metro {
        display: none;
    }

    .header-up__opening-hours {
        display: none;
    }

    .header-up__messenger {
        display: none;
    }

    .header-up__version-visually-impaired {
        display: none;
    }

    .header-up__telephone {
        display: none;
    }

    .header-up__logo a img {
        width: 100px;
    }

    .header-up__logo p br{
        display: none;
    }
    
    .header-up__logo>p {
        font-size: 2.8rem;
        font-weight: 700;
        color: #3C3D75;
    }
    
}
