.spasibo {
    margin-top: 15rem;
    text-align: center;
}

.spasibo-header {
    color: #409AF8;
    font-size: 4.8rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.spasibo-paragraph {
    color: #272727;
    font-size: 2.5rem;
    line-height: 140%;
}

.spasibo-paragraph:first-child {
    margin-bottom: 1rem;
}

.spasibo a {
    text-decoration: none;
}

.spasibo-button {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 130%;
    border-radius: 3.5rem;
    background: linear-gradient(90deg, #409AF8 0%, #5D4DE8 100%);
    display: flex;
    width: 31.6rem;
    height: 7rem;
    padding: 2.2rem 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: none;
    margin-top: 4rem;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
}

.main__content-3_button_flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 4.5rem;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 5s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}